<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Halloumi.Abettor.Plugins.FileSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Halloumi.Abettor.Plugins.FileSync.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Halloumi.Abettor.Plugins.FileSync.Properties.Settings>
            <setting name="SyncFrequency" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FolderSets" serializeAs="String">
                <value />
            </setting>
        </Halloumi.Abettor.Plugins.FileSync.Properties.Settings>
        <Halloumi.Abettor.Plugins.FileSync.Settings>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncFrequency" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FolderSets" serializeAs="String">
                <value />
            </setting>
        </Halloumi.Abettor.Plugins.FileSync.Settings>
    </userSettings>
</configuration>