<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Halloumi.Abettor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Halloumi.Abettor.Properties.Settings>
            <setting name="HighCPUColour" serializeAs="String">
                <value>PowderBlue</value>
            </setting>
            <setting name="LowCPUColour" serializeAs="String">
                <value>DarkBlue</value>
            </setting>
            <setting name="RAMColour" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="BackColour" serializeAs="String">
                <value>Black</value>
            </setting>
        </Halloumi.Abettor.Properties.Settings>
    </userSettings>
</configuration>