<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Halloumi.Abettor.Plugins.WallpaperChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Halloumi.Abettor.Plugins.WallpaperChanger.Properties.Settings>
            <setting name="WallpaperFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="WallpaperChangeFrequency" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ApplyMedianFilter" serializeAs="String">
                <value>False</value>
            </setting>
        </Halloumi.Abettor.Plugins.WallpaperChanger.Properties.Settings>
    </userSettings>
</configuration>